Repository robotcodedev/robotcode: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_package_update, python_style, python_typing, eslint

lint_package_update:
  name: Update package for lint environment
  entry: hatch run lint:install-packages
  pass_filenames: false
  language: system

python_style:
  name: Check Python Style
  entry: hatch run lint:style
  pass_filenames: false
  language: system

python_typing:
  name: Check Python Typing
  entry: hatch run lint:typing
  pass_filenames: false
  language: system

eslint:
  name: Check JavaScript Style and Typing
  entry: npm run lint
  pass_filenames: false
  language: system

refactor(langserver): remove threaded decorator from rpc methods and introduce a threaded property for the rpc_method decorator
  packages/jsonrpc2/src/robotcode/jsonrpc2/protocol.py
  packages/language_server/src/robotcode/language_server/common/parts/code_action.py
  packages/language_server/src/robotcode/language_server/common/parts/code_lens.py
  packages/language_server/src/robotcode/language_server/common/parts/commands.py
  packages/language_server/src/robotcode/language_server/common/parts/completion.py
  packages/language_server/src/robotcode/language_server/common/parts/declaration.py
  packages/language_server/src/robotcode/language_server/common/parts/definition.py
  packages/language_server/src/robotcode/language_server/common/parts/diagnostics.py
  packages/language_server/src/robotcode/language_server/common/parts/document_highlight.py
  packages/language_server/src/robotcode/language_server/common/parts/document_symbols.py
  packages/language_server/src/robotcode/language_server/common/parts/folding_range.py
  packages/language_server/src/robotcode/language_server/common/parts/formatting.py
  packages/language_server/src/robotcode/language_server/common/parts/hover.py
  packages/language_server/src/robotcode/language_server/common/parts/implementation.py
  packages/language_server/src/robotcode/language_server/common/parts/inlay_hint.py
  packages/language_server/src/robotcode/language_server/common/parts/inline_value.py
  packages/language_server/src/robotcode/language_server/common/parts/linked_editing_ranges.py
  packages/language_server/src/robotcode/language_server/common/parts/references.py
  packages/language_server/src/robotcode/language_server/common/parts/rename.py
  packages/language_server/src/robotcode/language_server/common/parts/selection_range.py
  packages/language_server/src/robotcode/language_server/common/parts/semantic_tokens.py
  packages/language_server/src/robotcode/language_server/common/parts/signature_help.py
  packages/language_server/src/robotcode/language_server/common/parts/window.py
  packages/language_server/src/robotcode/language_server/common/parts/workspace.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/code_action_documentation.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/debugging_utils.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/robot_workspace.py
Due: lint_package_update, python_style, python_typing

style: remove some unused code and comments
  packages/core/src/robotcode/core/async_tools.py
  packages/debugger/src/robotcode/debugger/debugger.py
  packages/language_server/src/robotcode/language_server/common/parts/code_action.py
  packages/language_server/src/robotcode/language_server/common/parts/code_lens.py
  packages/language_server/src/robotcode/language_server/common/parts/completion.py
  packages/language_server/src/robotcode/language_server/common/parts/declaration.py
  packages/language_server/src/robotcode/language_server/common/parts/definition.py
  packages/language_server/src/robotcode/language_server/common/parts/diagnostics.py
  packages/language_server/src/robotcode/language_server/common/parts/document_highlight.py
  packages/language_server/src/robotcode/language_server/common/parts/document_symbols.py
  packages/language_server/src/robotcode/language_server/common/parts/documents.py
  packages/language_server/src/robotcode/language_server/common/parts/formatting.py
  packages/language_server/src/robotcode/language_server/common/parts/implementation.py
  packages/language_server/src/robotcode/language_server/common/parts/inlay_hint.py
  packages/language_server/src/robotcode/language_server/common/parts/linked_editing_ranges.py
  packages/language_server/src/robotcode/language_server/common/parts/references.py
  packages/language_server/src/robotcode/language_server/common/parts/rename.py
  packages/language_server/src/robotcode/language_server/common/parts/selection_range.py
  packages/language_server/src/robotcode/language_server/common/parts/semantic_tokens.py
  packages/language_server/src/robotcode/language_server/common/parts/signature_help.py
  packages/language_server/src/robotcode/language_server/common/parts/workspace.py
  packages/language_server/src/robotcode/language_server/common/protocol.py
  packages/language_server/src/robotcode/language_server/common/text_document.py
  packages/language_server/src/robotcode/language_server/robotframework/diagnostics/imports_manager.py
  packages/language_server/src/robotcode/language_server/robotframework/diagnostics/namespace.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/code_lens.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/documents_cache.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/references.py
Due: lint_package_update, python_style, python_typing

refactor(langserver): rename core.concurrent.FutureEx to Task
  packages/core/src/robotcode/core/concurrent.py
  packages/debugger/src/robotcode/debugger/protocol.py
  packages/jsonrpc2/src/robotcode/jsonrpc2/protocol.py
  packages/language_server/src/robotcode/language_server/common/parts/code_action.py
  packages/language_server/src/robotcode/language_server/common/parts/code_lens.py
  packages/language_server/src/robotcode/language_server/common/parts/completion.py
  packages/language_server/src/robotcode/language_server/common/parts/declaration.py
  packages/language_server/src/robotcode/language_server/common/parts/definition.py
  packages/language_server/src/robotcode/language_server/common/parts/diagnostics.py
  packages/language_server/src/robotcode/language_server/common/parts/document_highlight.py
  packages/language_server/src/robotcode/language_server/common/parts/formatting.py
  packages/language_server/src/robotcode/language_server/common/parts/hover.py
  packages/language_server/src/robotcode/language_server/common/parts/implementation.py
  packages/language_server/src/robotcode/language_server/common/parts/inlay_hint.py
  packages/language_server/src/robotcode/language_server/common/parts/inline_value.py
  packages/language_server/src/robotcode/language_server/common/parts/linked_editing_ranges.py
  packages/language_server/src/robotcode/language_server/common/parts/references.py
  packages/language_server/src/robotcode/language_server/common/parts/rename.py
  packages/language_server/src/robotcode/language_server/common/parts/selection_range.py
  packages/language_server/src/robotcode/language_server/common/parts/semantic_tokens.py
  packages/language_server/src/robotcode/language_server/common/parts/signature_help.py
  packages/language_server/src/robotcode/language_server/common/parts/workspace.py
  packages/language_server/src/robotcode/language_server/common/protocol.py
  packages/language_server/src/robotcode/language_server/robotframework/diagnostics/imports_manager.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/code_lens.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/document_highlight.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/folding_range.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/goto.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/hover.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/inlay_hint.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/references.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/semantic_tokens.py
Due: lint_package_update, python_style, python_typing

chore(build): update some dependencies and some corrections in pyproject files
  bundled_requirements.txt
  hatch.toml
  packages/analyze/pyproject.toml
  packages/core/pyproject.toml
  packages/debugger/pyproject.toml
  packages/jsonrpc2/pyproject.toml
  packages/language_server/pyproject.toml
  packages/modifiers/pyproject.toml
  packages/plugin/pyproject.toml
  packages/robot/pyproject.toml
  packages/runner/pyproject.toml
Due: none

chore(build): update packages
  package-lock.json
Due: none

fix(langserver): speedup diagnostics, unused references and codelenses updates
  packages/language_server/src/robotcode/language_server/common/parts/diagnostics.py
  packages/language_server/src/robotcode/language_server/robotframework/diagnostics/imports_manager.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/references.py
  tests/robotcode/language_server/robotframework/parts/data/.vscode/settings.json
Due: lint_package_update, python_style, python_typing

fix(langserver): stabilize workspace diagnostics
  packages/language_server/src/robotcode/language_server/common/parts/diagnostics.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/diagnostics.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/references.py
  tests/robotcode/language_server/robotframework/parts/data/.vscode/settings.json
  tests/robotcode/language_server/robotframework/parts/data/pyproject.toml
Due: lint_package_update, python_style, python_typing

chore(release): bump version 0.68.1 → 0.68.2
  CHANGELOG.md
  package.json
  packages/analyze/pyproject.toml
  packages/analyze/src/robotcode/analyze/__version__.py
  packages/core/src/robotcode/core/__version__.py
  packages/debugger/pyproject.toml
  packages/debugger/src/robotcode/debugger/__version__.py
  packages/jsonrpc2/pyproject.toml
  packages/jsonrpc2/src/robotcode/jsonrpc2/__version__.py
  packages/language_server/pyproject.toml
  packages/language_server/src/robotcode/language_server/__version__.py
  packages/modifiers/src/robotcode/modifiers/__version__.py
  packages/plugin/src/robotcode/plugin/__version__.py
  packages/robot/pyproject.toml
  packages/robot/src/robotcode/robot/__version__.py
  packages/runner/pyproject.toml
  packages/runner/src/robotcode/runner/__version__.py
  pyproject.toml
  src/robotcode/cli/__version__.py
Due: lint_package_update, python_style, python_typing

fix(langserver): completion in templated test cases should not show keywords and such things
  packages/language_server/src/robotcode/language_server/robotframework/parts/completion.py
  packages/robot/src/robotcode/robot/utils/ast.py
Due: lint_package_update, python_style, python_typing

fix(vscode): open a result file or view documention does not work in CodeSpaces
  package-lock.json
  vscode-client/extension.ts
  webpack.config.js
Due: eslint

fix(langserver): generate libdoc spec generation for RFW 7
  packages/robot/src/robotcode/robot/diagnostics/library_doc.py
Due: lint_package_update, python_style, python_typing

chore(release): bump version 0.68.2 → 0.68.3
  CHANGELOG.md
  package.json
  packages/analyze/pyproject.toml
  packages/analyze/src/robotcode/analyze/__version__.py
  packages/core/src/robotcode/core/__version__.py
  packages/debugger/pyproject.toml
  packages/debugger/src/robotcode/debugger/__version__.py
  packages/jsonrpc2/pyproject.toml
  packages/jsonrpc2/src/robotcode/jsonrpc2/__version__.py
  packages/language_server/pyproject.toml
  packages/language_server/src/robotcode/language_server/__version__.py
  packages/modifiers/src/robotcode/modifiers/__version__.py
  packages/plugin/src/robotcode/plugin/__version__.py
  packages/robot/pyproject.toml
  packages/robot/src/robotcode/robot/__version__.py
  packages/runner/pyproject.toml
  packages/runner/src/robotcode/runner/__version__.py
  pyproject.toml
  src/robotcode/cli/__version__.py
Due: lint_package_update, python_style, python_typing

fix(langserver): start langserver should not raise a TypeError if startet with no config
  packages/language_server/src/robotcode/language_server/common/parts/workspace.py
Due: lint_package_update, python_style, python_typing

refactor(langserver): remove unused maxProjectFileCount setting
  package.json
  packages/language_server/src/robotcode/language_server/robotframework/configuration.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/robot_workspace.py
Due: lint_package_update, python_style, python_typing

feature: added support for dot env files
  bundled/tool/robotcode/__main__.py
  bundled/tool/utils/check_robot_version.py
  pyproject.toml
Due: lint_package_update, python_style, python_typing

docs: change description of package
  package.json
Due: none

docs: create CONTRIBUTING.md and review CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Due: none

chore(release): bump version 0.68.3 → 0.68.4
  CHANGELOG.md
  package.json
  packages/analyze/pyproject.toml
  packages/analyze/src/robotcode/analyze/__version__.py
  packages/core/src/robotcode/core/__version__.py
  packages/debugger/pyproject.toml
  packages/debugger/src/robotcode/debugger/__version__.py
  packages/jsonrpc2/pyproject.toml
  packages/jsonrpc2/src/robotcode/jsonrpc2/__version__.py
  packages/language_server/pyproject.toml
  packages/language_server/src/robotcode/language_server/__version__.py
  packages/modifiers/src/robotcode/modifiers/__version__.py
  packages/plugin/src/robotcode/plugin/__version__.py
  packages/robot/pyproject.toml
  packages/robot/src/robotcode/robot/__version__.py
  packages/runner/pyproject.toml
  packages/runner/src/robotcode/runner/__version__.py
  pyproject.toml
  src/robotcode/cli/__version__.py
  tests/robotcode/language_server/robotframework/parts/data/.vscode/launch.json
Due: lint_package_update, python_style, python_typing

fix(langserver): filewatcher does not work
  packages/language_server/src/robotcode/language_server/robotframework/parts/documents_cache.py
  packages/robot/src/robotcode/robot/diagnostics/document_cache_helper.py
Due: lint_package_update, python_style, python_typing

chore(release): bump version 0.68.4 → 0.68.5
  CHANGELOG.md
  package.json
  packages/analyze/pyproject.toml
  packages/analyze/src/robotcode/analyze/__version__.py
  packages/core/src/robotcode/core/__version__.py
  packages/debugger/pyproject.toml
  packages/debugger/src/robotcode/debugger/__version__.py
  packages/jsonrpc2/pyproject.toml
  packages/jsonrpc2/src/robotcode/jsonrpc2/__version__.py
  packages/language_server/pyproject.toml
  packages/language_server/src/robotcode/language_server/__version__.py
  packages/modifiers/src/robotcode/modifiers/__version__.py
  packages/plugin/src/robotcode/plugin/__version__.py
  packages/robot/pyproject.toml
  packages/robot/src/robotcode/robot/__version__.py
  packages/runner/pyproject.toml
  packages/runner/src/robotcode/runner/__version__.py
  pyproject.toml
  src/robotcode/cli/__version__.py
Due: lint_package_update, python_style, python_typing

chore(build): update dependencies
  package-lock.json
  package.json
Due: none

feature(langserver): start the internal HTTP server only on demand
  package.json
  packages/language_server/src/robotcode/language_server/robotframework/configuration.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/code_action_documentation.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/http_server.py
  packages/language_server/src/robotcode/language_server/robotframework/protocol.py
Due: lint_package_update, python_style, python_typing

fix(langserver): display the return type in hover only when it is explicitly defined
  packages/robot/src/robotcode/robot/diagnostics/library_doc.py
Due: lint_package_update, python_style, python_typing

feat(vscode): new keywords tree view in the explorer sidebar
  package.json
  packages/language_server/src/robotcode/language_server/robotframework/parts/keywords_treeview.py
  packages/language_server/src/robotcode/language_server/robotframework/protocol.py
  vscode-client/extension.ts
  vscode-client/keywordsTreeViewProvider.ts
  vscode-client/languageclientsmanger.ts
Due: lint_package_update, python_style, python_typing

fix(runner): environment vars are evaluated to late
  packages/language_server/src/robotcode/language_server/robotframework/protocol.py
  packages/robot/src/robotcode/robot/config/model.py
  packages/robot/src/robotcode/robot/diagnostics/document_cache_helper.py
  packages/runner/src/robotcode/runner/cli/libdoc.py
  packages/runner/src/robotcode/runner/cli/rebot.py
  packages/runner/src/robotcode/runner/cli/robot.py
  packages/runner/src/robotcode/runner/cli/testdoc.py
Due: lint_package_update, python_style, python_typing

chore(release): bump version 0.68.5 → 0.69.0
  CHANGELOG.md
  package.json
  packages/analyze/pyproject.toml
  packages/analyze/src/robotcode/analyze/__version__.py
  packages/core/src/robotcode/core/__version__.py
  packages/debugger/pyproject.toml
  packages/debugger/src/robotcode/debugger/__version__.py
  packages/jsonrpc2/pyproject.toml
  packages/jsonrpc2/src/robotcode/jsonrpc2/__version__.py
  packages/language_server/pyproject.toml
  packages/language_server/src/robotcode/language_server/__version__.py
  packages/modifiers/src/robotcode/modifiers/__version__.py
  packages/plugin/src/robotcode/plugin/__version__.py
  packages/robot/pyproject.toml
  packages/robot/src/robotcode/robot/__version__.py
  packages/runner/pyproject.toml
  packages/runner/src/robotcode/runner/__version__.py
  pyproject.toml
  src/robotcode/cli/__version__.py
Due: lint_package_update, python_style, python_typing

feat(vscode): simple drag'n drop keywords from keywords view to text editor
  vscode-client/extension.ts
  vscode-client/keywordsTreeViewProvider.ts
Due: none

fix(debugger): fix some things in debugger to better support Robot Framework version 7.0
  packages/debugger/src/robotcode/debugger/debugger.py
Due: lint_package_update, python_style, python_typing

fix(langserver): correct minimum robot version in version check
  packages/language_server/src/robotcode/language_server/robotframework/protocol.py
Due: lint_package_update, python_style, python_typing

fix(analyzer): correct resolving variables declared with the new VAR statement and a scope
  packages/language_server/src/robotcode/language_server/robotframework/parts/diagnostics.py
  packages/robot/src/robotcode/robot/diagnostics/entities.py
  packages/robot/src/robotcode/robot/diagnostics/namespace.py
  packages/robot/src/robotcode/robot/diagnostics/namespace_analyzer.py
Due: lint_package_update, python_style, python_typing

chore(release): bump version 0.69.0 → 0.70.0
  CHANGELOG.md
  package.json
  packages/analyze/pyproject.toml
  packages/analyze/src/robotcode/analyze/__version__.py
  packages/core/src/robotcode/core/__version__.py
  packages/debugger/pyproject.toml
  packages/debugger/src/robotcode/debugger/__version__.py
  packages/jsonrpc2/pyproject.toml
  packages/jsonrpc2/src/robotcode/jsonrpc2/__version__.py
  packages/language_server/pyproject.toml
  packages/language_server/src/robotcode/language_server/__version__.py
  packages/modifiers/src/robotcode/modifiers/__version__.py
  packages/plugin/src/robotcode/plugin/__version__.py
  packages/robot/pyproject.toml
  packages/robot/src/robotcode/robot/__version__.py
  packages/runner/pyproject.toml
  packages/runner/src/robotcode/runner/__version__.py
  pyproject.toml
  src/robotcode/cli/__version__.py
Due: lint_package_update, python_style, python_typing

chore(build): update version in github workflow files
  .github/workflows/build-test-package-publish.yml
  .github/workflows/codeql-analysis.yml
Due: none

chore(build): update packages
  package-lock.json
  package.json
Due: none

chore(build): update actions/upload workflow action
  .github/workflows/build-test-package-publish.yml
Due: none

chore(build): correct wrong version specifier for actions/download-artifact
  .github/workflows/build-test-package-publish.yml
Due: none

Path conditions:
  lint_package_update: any of: \.py$
  python_style: any of: \.py$
  python_typing: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$
