Repository robotcodedev/robotcode: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_package_update, python_style, python_typing, eslint

.pre-commit-config.yaml:

fail_fast: true
default_language_version:
  python: python3.8
default_stages: [commit, push]
repos:
  - repo: local
    hooks:
      - id: lint_package_update
        name: Update package for lint environment
        entry: hatch run lint:install-packages
        pass_filenames: false
        language: system
        types:
          - "python"
      - id: python_style
        name: Check Python Style
        entry: hatch run lint:style
        pass_filenames: false
        language: system
        types:
          - "python"
      - id: python_typing
        name: Check Python Typing
        entry: hatch run lint:typing
        pass_filenames: false
        language: system
        types:
          - "python"
      - id: eslint
        name: Check JavaScript Style and Typing
        entry: npm run lint
        pass_filenames: false
        language: system
        types:
          - "javascript"
  - repo: https://github.com/commitizen-tools/commitizen
    rev: 3.12.0
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [push]

chore(release): bump version 0.83.2 → 0.83.3
  CHANGELOG.md
  package-lock.json
  package.json
  packages/analyze/pyproject.toml
  packages/analyze/src/robotcode/analyze/__version__.py
  packages/core/src/robotcode/core/__version__.py
  packages/debugger/pyproject.toml
  packages/debugger/src/robotcode/debugger/__version__.py
  packages/jsonrpc2/pyproject.toml
  packages/jsonrpc2/src/robotcode/jsonrpc2/__version__.py
  packages/language_server/pyproject.toml
  packages/language_server/src/robotcode/language_server/__version__.py
  packages/modifiers/src/robotcode/modifiers/__version__.py
  packages/plugin/src/robotcode/plugin/__version__.py
  packages/robot/pyproject.toml
  packages/robot/src/robotcode/robot/__version__.py
  packages/runner/pyproject.toml
  packages/runner/src/robotcode/runner/__version__.py
  pyproject.toml
  src/robotcode/cli/__version__.py
Due: lint_package_update, python_style, python_typing

fix(robot): use casefold for normalizing and remove some local imports in VariableMatcher
  packages/robot/src/robotcode/robot/diagnostics/entities.py
  packages/robot/src/robotcode/robot/diagnostics/library_doc.py
  packages/robot/src/robotcode/robot/utils/match.py
Due: lint_package_update, python_style, python_typing

ci: disable rerunfailed
  pyproject.toml
Due: none

Revert changes to extensions.json
  .vscode/extensions.json
Due: none

feat(debugger): added support for disabling the hiding of debugger threads/tasks.
  packages/core/src/robotcode/core/concurrent.py
  packages/debugger/src/robotcode/debugger/run.py
Due: lint_package_update, python_style, python_typing

fix(debugger): corrected handling of local variables in variables inspector
  packages/debugger/src/robotcode/debugger/debugger.py
Due: lint_package_update, python_style, python_typing

fix(vscode): remove `attachPython` from default `launch.json` config
  package.json
Due: none

Removed unnecessary parts
  .vscode/extensions.json
  docs/02_get_started/quickstart.md
Due: none

docs(quickstart): add quickstart documentation page
  docs/.vitepress/theme/style.css
  docs/02_get_started/quickstart.md
  docs/images/robot-dark.png
  docs/index.md
Due: none

Revert "Configuration first draft"
  docs/01_about/index.md
  docs/02_get_started/configuration.md
  docs/images/config images/profiles-dropdown-selection.PNG
  docs/images/config images/toml-profiles-command-selection.PNG
Due: none

docs: updated config page
  docs/02_get_started/configuration.md
  docs/images/config images/config_selec_buttons.PNG
  docs/images/config images/profiles-dropdown-selection.PNG
  docs/images/config images/tags_robot.PNG
  docs/images/config images/toml-profiles-command-selection.PNG
Due: none

docs: a draft for FAQ
  docs/02_get_started/faq.md
Due: none

feat: first draft for robotcode.new and clean
  src/robotcode/cli/__init__.py
Due: lint_package_update, python_style, python_typing

docs(quickstart): improve quickstart documentation
  docs/02_get_started/quickstart.md
  docs/public/python-create-env.gif
  docs/public/robotcode-add-to-workspace.gif
  docs/public/robotcode-first-test-case.gif
Due: none

chore: update packages
  docs/package-lock.json
  docs/package.json
  package-lock.json
  package.json
Due: none

fix(debugger): corrected start debuggin in internalConsole
  package.json
  packages/debugger/src/robotcode/debugger/debugger.py
  packages/debugger/src/robotcode/debugger/launcher/server.py
  packages/debugger/src/robotcode/debugger/server.py
  vscode-client/debugmanager.ts
Due: lint_package_update, python_style, python_typing

chore: add robot.toml file
  .gitignore
  robot.toml
Due: none

fix(vscode): Only test cases are reported as queued, started and completed
  vscode-client/testcontrollermanager.ts
Due: none

feat: diagnostics modifiers
  .eslintignore
  .eslintrc
  .vscode/launch.json
  eslint.config.mjs
  package-lock.json
  package.json
  packages/analyze/src/robotcode/analyze/cli.py
  packages/core/src/robotcode/core/utils/dataclasses.py
  packages/core/src/robotcode/core/utils/inspect.py
  packages/jsonrpc2/src/robotcode/jsonrpc2/server.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/code_action_quick_fixes.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/diagnostics.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/folding_range.py
  packages/robot/src/robotcode/robot/diagnostics/diagnostics_modifier.py
  packages/robot/src/robotcode/robot/diagnostics/document_cache_helper.py
  packages/robot/src/robotcode/robot/diagnostics/errors.py
  packages/robot/src/robotcode/robot/diagnostics/library_doc.py
  packages/robot/src/robotcode/robot/diagnostics/namespace.py
  packages/robot/src/robotcode/robot/diagnostics/namespace_analyzer.py
  packages/robot/src/robotcode/robot/utils/ast.py
  tests/conftest.py
  tests/robotcode/language_server/robotframework/parts/data/data/first.yml
  tests/robotcode/language_server/robotframework/parts/data/data/second.yml
  tests/robotcode/robot/diagnostics/__init__.py
  tests/robotcode/robot/diagnostics/test_modifiers.py
  vscode-client/debugmanager.ts
  vscode-client/languageclientsmanger.ts
  vscode-client/pythonmanger.ts
  vscode-client/test/runTest.ts
  vscode-client/testcontrollermanager.ts
Due: lint_package_update, python_style, python_typing, eslint

chore(release): bump version 0.83.3 → 0.84.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/analyze/pyproject.toml
  packages/analyze/src/robotcode/analyze/__version__.py
  packages/core/src/robotcode/core/__version__.py
  packages/debugger/pyproject.toml
  packages/debugger/src/robotcode/debugger/__version__.py
  packages/jsonrpc2/pyproject.toml
  packages/jsonrpc2/src/robotcode/jsonrpc2/__version__.py
  packages/language_server/pyproject.toml
  packages/language_server/src/robotcode/language_server/__version__.py
  packages/modifiers/src/robotcode/modifiers/__version__.py
  packages/plugin/src/robotcode/plugin/__version__.py
  packages/robot/pyproject.toml
  packages/robot/src/robotcode/robot/__version__.py
  packages/runner/pyproject.toml
  packages/runner/src/robotcode/runner/__version__.py
  pyproject.toml
  src/robotcode/cli/__version__.py
Due: lint_package_update, python_style, python_typing

docs: fix some formatting and spelling things
  docs/02_get_started/configuration.md
  docs/package.json
  package-lock.json
Due: none

docs: some reorganizations
  docs/01_about/index.md
  docs/02_get_started/index.md
  docs/02_get_started/quickstart.md
  docs/index.md
Due: none

docs: correct RF versions in README
  README.md
Due: none

docs: "Get Started" improved
  docs/.vitepress/config.mts
  docs/.vitepress/theme/style.css
  docs/02_get_started/index.md
  docs/package.json
  package-lock.json
Due: none

feat(langserver): send full completion info if language client does not support `completionItem/resolve`
  docs/02_get_started/index.md
  packages/language_server/src/robotcode/language_server/common/parts/completion.py
Due: lint_package_update, python_style, python_typing

fix(langserver): corrected coloring of test case/keyword names if names contains line continuations `...`
  syntaxes/robotframework.tmLanguage.json
Due: none

build: run tests in workflow with an retry action
  .github/workflows/build-test-package-publish.yml
Due: none

chore(release): bump version 0.84.0 → 0.85.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/analyze/pyproject.toml
  packages/analyze/src/robotcode/analyze/__version__.py
  packages/core/src/robotcode/core/__version__.py
  packages/debugger/pyproject.toml
  packages/debugger/src/robotcode/debugger/__version__.py
  packages/jsonrpc2/pyproject.toml
  packages/jsonrpc2/src/robotcode/jsonrpc2/__version__.py
  packages/language_server/pyproject.toml
  packages/language_server/src/robotcode/language_server/__version__.py
  packages/modifiers/src/robotcode/modifiers/__version__.py
  packages/plugin/src/robotcode/plugin/__version__.py
  packages/robot/pyproject.toml
  packages/robot/src/robotcode/robot/__version__.py
  packages/runner/pyproject.toml
  packages/runner/src/robotcode/runner/__version__.py
  pyproject.toml
  src/robotcode/cli/__version__.py
Due: lint_package_update, python_style, python_typing

chore: update packages
  docs/package.json
  package-lock.json
  package.json
Due: none

chore: update vscodeignore
  .vscodeignore
Due: none

feat(robotcode): introduce support for `.gitignore` and `.robotignore` during test suite discovery
  .robotignore
  .vscode/launch.json
  package.json
  packages/core/src/robotcode/core/ignore_spec.py
  packages/core/src/robotcode/core/utils/glob_path.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/robot_workspace.py
  packages/plugin/src/robotcode/plugin/__init__.py
  packages/runner/src/robotcode/runner/cli/discover/discover.py
  packages/runner/src/robotcode/runner/cli/robot.py
  tests/robotcode/language_server/robotframework/parts/data/.robotignore
Due: lint_package_update, python_style, python_typing
