Repository robotcodedev/robotcode: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_package_update, python_style, python_typing, eslint

lint_package_update:
  name: Update package for lint environment
  entry: hatch run lint:install-packages
  pass_filenames: false
  language: system

python_style:
  name: Check Python Style
  entry: hatch run lint:style
  pass_filenames: false
  language: system

python_typing:
  name: Check Python Typing
  entry: hatch run lint:typing
  pass_filenames: false
  language: system

eslint:
  name: Check JavaScript Style and Typing
  entry: npm run lint
  pass_filenames: false
  language: system

test: fix some regression tests
  tests/robotcode/language_server/robotframework/parts/_regtest_outputs/rf61/test_references.test[references.robot-011-016-a_custom_library].out
  tests/robotcode/language_server/robotframework/parts/_regtest_outputs/rf61/test_references.test[references.robot-011-020-a_custom_library].out
  tests/robotcode/language_server/robotframework/parts/_regtest_outputs/rf61/test_references.test[references.robot-011-023-a_custom_library].out
  tests/robotcode/language_server/robotframework/parts/_regtest_outputs/rf61/test_references.test[references.robot-013-016-a_same_custom_library].out
  tests/robotcode/language_server/robotframework/parts/_regtest_outputs/rf61/test_references.test[references.robot-013-020-a_same_custom_library].out
  tests/robotcode/language_server/robotframework/parts/_regtest_outputs/rf61/test_references.test[references.robot-013-023-a_same_custom_library].out
Due: none

chore(release): bump version 0.77.1 → 0.78.0
  CHANGELOG.md
Due: none

fix(profiles): profiles inherited by `[profile].inherit` are now merged before the parent profile, unless the `precedence` is set and are only enabled if the parent profile is enabled
  packages/robot/src/robotcode/robot/config/model.py
Due: lint_package_update, python_style, python_typing

fix(langserver): hovering over `EMPTY` builtin variable respects the type and shows correct empty values
  packages/language_server/src/robotcode/language_server/robotframework/parts/hover.py
  packages/robot/src/robotcode/robot/diagnostics/entities.py
Due: lint_package_update, python_style, python_typing

fix(analyze): if a imported resource has import errors it is shown as releated information
  packages/robot/src/robotcode/robot/diagnostics/namespace.py
Due: lint_package_update, python_style, python_typing

chore(release): bump version 0.78.0 → 0.78.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/analyze/pyproject.toml
  packages/analyze/src/robotcode/analyze/__version__.py
  packages/core/src/robotcode/core/__version__.py
  packages/debugger/pyproject.toml
  packages/debugger/src/robotcode/debugger/__version__.py
  packages/jsonrpc2/pyproject.toml
  packages/jsonrpc2/src/robotcode/jsonrpc2/__version__.py
  packages/language_server/pyproject.toml
  packages/language_server/src/robotcode/language_server/__version__.py
  packages/modifiers/src/robotcode/modifiers/__version__.py
  packages/plugin/src/robotcode/plugin/__version__.py
  packages/robot/pyproject.toml
  packages/robot/src/robotcode/robot/__version__.py
  packages/runner/pyproject.toml
  packages/runner/src/robotcode/runner/__version__.py
  pyproject.toml
  src/robotcode/cli/__version__.py
Due: lint_package_update, python_style, python_typing

chore(build): update packages
  package-lock.json
Due: none

fix(tidy): make robotframework-tidy 4.11 running
  packages/language_server/src/robotcode/language_server/robotframework/parts/formatting.py
Due: lint_package_update, python_style, python_typing

chore(release): bump version 0.78.1 → 0.78.2
  CHANGELOG.md
  package-lock.json
  package.json
  packages/analyze/pyproject.toml
  packages/analyze/src/robotcode/analyze/__version__.py
  packages/core/src/robotcode/core/__version__.py
  packages/debugger/pyproject.toml
  packages/debugger/src/robotcode/debugger/__version__.py
  packages/jsonrpc2/pyproject.toml
  packages/jsonrpc2/src/robotcode/jsonrpc2/__version__.py
  packages/language_server/pyproject.toml
  packages/language_server/src/robotcode/language_server/__version__.py
  packages/modifiers/src/robotcode/modifiers/__version__.py
  packages/plugin/src/robotcode/plugin/__version__.py
  packages/robot/pyproject.toml
  packages/robot/src/robotcode/robot/__version__.py
  packages/runner/pyproject.toml
  packages/runner/src/robotcode/runner/__version__.py
  pyproject.toml
  src/robotcode/cli/__version__.py
Due: lint_package_update, python_style, python_typing

fix(langserver): add missing `robotcode-robot` dependency
  packages/language_server/pyproject.toml
  pyproject.toml
Due: none

chore(release): bump version 0.78.2 → 0.78.3
  CHANGELOG.md
  package-lock.json
  package.json
  packages/analyze/pyproject.toml
  packages/analyze/src/robotcode/analyze/__version__.py
  packages/core/src/robotcode/core/__version__.py
  packages/debugger/pyproject.toml
  packages/debugger/src/robotcode/debugger/__version__.py
  packages/jsonrpc2/pyproject.toml
  packages/jsonrpc2/src/robotcode/jsonrpc2/__version__.py
  packages/language_server/pyproject.toml
  packages/language_server/src/robotcode/language_server/__version__.py
  packages/modifiers/src/robotcode/modifiers/__version__.py
  packages/plugin/src/robotcode/plugin/__version__.py
  packages/robot/pyproject.toml
  packages/robot/src/robotcode/robot/__version__.py
  packages/runner/pyproject.toml
  packages/runner/src/robotcode/runner/__version__.py
  pyproject.toml
  src/robotcode/cli/__version__.py
Due: lint_package_update, python_style, python_typing

fix(robotcode): add missing `robotcode-robot` dependency
  pyproject.toml
Due: none

chore(release): bump version 0.78.3 → 0.78.4
  CHANGELOG.md
  package-lock.json
  package.json
  packages/analyze/pyproject.toml
  packages/analyze/src/robotcode/analyze/__version__.py
  packages/core/src/robotcode/core/__version__.py
  packages/debugger/pyproject.toml
  packages/debugger/src/robotcode/debugger/__version__.py
  packages/jsonrpc2/pyproject.toml
  packages/jsonrpc2/src/robotcode/jsonrpc2/__version__.py
  packages/language_server/pyproject.toml
  packages/language_server/src/robotcode/language_server/__version__.py
  packages/modifiers/src/robotcode/modifiers/__version__.py
  packages/plugin/src/robotcode/plugin/__version__.py
  packages/robot/pyproject.toml
  packages/robot/src/robotcode/robot/__version__.py
  packages/runner/pyproject.toml
  packages/runner/src/robotcode/runner/__version__.py
  pyproject.toml
  src/robotcode/cli/__version__.py
Due: lint_package_update, python_style, python_typing

add option to disable the test controller
  package.json
  vscode-client/testcontrollermanager.ts
Due: none

feat(langserver): highlight some formatting tags in documentation like bold and italics for englisch language
  package.json
  packages/language_server/src/robotcode/language_server/robotframework/parts/semantic_tokens.py
  syntaxes/robotframework.tmLanguage.json
  syntaxes/robotframework.tmLanguage.yaml
Due: lint_package_update, python_style, python_typing

fix(debugger): don't show a message on unsupported rpc commands
  packages/debugger/src/robotcode/debugger/protocol.py
Due: lint_package_update, python_style, python_typing

test(langserver): update regression tests
  tests/robotcode/language_server/robotframework/parts/_regtest_outputs/rf41/test_semantic_tokens.test[foldingrange.robot].out
  tests/robotcode/language_server/robotframework/parts/_regtest_outputs/rf41/test_semantic_tokens.test[hover.robot].out
  tests/robotcode/language_server/robotframework/parts/_regtest_outputs/rf41/test_semantic_tokens.test[variables.robot].out
  tests/robotcode/language_server/robotframework/parts/_regtest_outputs/rf50/test_semantic_tokens.test[foldingrange.robot].out
  tests/robotcode/language_server/robotframework/parts/_regtest_outputs/rf50/test_semantic_tokens.test[hover.robot].out
  tests/robotcode/language_server/robotframework/parts/_regtest_outputs/rf50/test_semantic_tokens.test[variables.robot].out
  tests/robotcode/language_server/robotframework/parts/_regtest_outputs/rf60/test_semantic_tokens.test[foldingrange.robot].out
  tests/robotcode/language_server/robotframework/parts/_regtest_outputs/rf60/test_semantic_tokens.test[hover.robot].out
  tests/robotcode/language_server/robotframework/parts/_regtest_outputs/rf60/test_semantic_tokens.test[variables.robot].out
  tests/robotcode/language_server/robotframework/parts/_regtest_outputs/rf61/test_semantic_tokens.test[foldingrange.robot].out
  tests/robotcode/language_server/robotframework/parts/_regtest_outputs/rf61/test_semantic_tokens.test[hover.robot].out
  tests/robotcode/language_server/robotframework/parts/_regtest_outputs/rf61/test_semantic_tokens.test[variables.robot].out
  tests/robotcode/language_server/robotframework/parts/_regtest_outputs/rf70/test_semantic_tokens.test[foldingrange.robot].out
  tests/robotcode/language_server/robotframework/parts/_regtest_outputs/rf70/test_semantic_tokens.test[hover.robot].out
  tests/robotcode/language_server/robotframework/parts/_regtest_outputs/rf70/test_semantic_tokens.test[variables.robot].out
Due: none

feat(vscode): add option to disable the vscodes test explorer/execution integration
  package.json
  vscode-client/testcontrollermanager.ts
Due: none

fix(langserver): normalize path handling should not fully resolve symlinks
  packages/core/src/robotcode/core/uri.py
  packages/core/src/robotcode/core/utils/path.py
  packages/debugger/src/robotcode/debugger/listeners.py
  packages/debugger/src/robotcode/debugger/run.py
  packages/robot/src/robotcode/robot/diagnostics/imports_manager.py
  packages/robot/src/robotcode/robot/diagnostics/library_doc.py
  packages/runner/src/robotcode/runner/cli/discover/discover.py
Due: lint_package_update, python_style, python_typing

chore(release): bump version 0.78.4 → 0.79.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/analyze/pyproject.toml
  packages/analyze/src/robotcode/analyze/__version__.py
  packages/core/src/robotcode/core/__version__.py
  packages/debugger/pyproject.toml
  packages/debugger/src/robotcode/debugger/__version__.py
  packages/jsonrpc2/pyproject.toml
  packages/jsonrpc2/src/robotcode/jsonrpc2/__version__.py
  packages/language_server/pyproject.toml
  packages/language_server/src/robotcode/language_server/__version__.py
  packages/modifiers/src/robotcode/modifiers/__version__.py
  packages/plugin/src/robotcode/plugin/__version__.py
  packages/robot/pyproject.toml
  packages/robot/src/robotcode/robot/__version__.py
  packages/runner/pyproject.toml
  packages/runner/src/robotcode/runner/__version__.py
  pyproject.toml
  src/robotcode/cli/__version__.py
Due: lint_package_update, python_style, python_typing

chore(build): update packages
  package-lock.json
  package.json
Due: none

chore(build): switch to esbuild
  .eslintrc
  .vscodeignore
  package-lock.json
  package.json
  webpack.config.js
Due: eslint

chore(build): update packages
  hatch.toml
  tests/robotcode/jsonrpc/conftest.py
Due: lint_package_update, python_style, python_typing

chore(build): update to hatch and usage of uv
  hatch.toml
  scripts/install_packages.py
Due: lint_package_update, python_style, python_typing

chore(build): try to disable older python version on macos-latest in actions
  .github/workflows/build-test-package-publish.yml
Due: none

chore(build): another try to disable old python versions on macos-latest
  .github/workflows/build-test-package-publish.yml
Due: none

chore(build): disable pip version checks in github actions to avoid warnings about that
  .github/workflows/build-test-package-publish.yml
Due: none

chore(build): try to use `uv` to install hatch
  .github/workflows/build-test-package-publish.yml
Due: none

chore(build): try to use pipx in gh actions
  .github/workflows/build-test-package-publish.yml
Due: none

chore(build): update install_packages script
  scripts/install_packages.py
Due: lint_package_update, python_style, python_typing

chore(build): remove unneeded steps from gh actions
  .github/workflows/build-test-package-publish.yml
  .github/workflows/codeql-analysis.yml
Due: none

chore(build): update codeql workflows
  .github/workflows/codeql-analysis.yml
Due: none

chore: transfer all links regarding github/d-biehl to github/robotcodedev organization
  .devcontainer/Dockerfile
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  cliff.toml
  docs/index.md
  etc/robot.toml.json
  mkdocs.yml
  package.json
  packages/analyze/README.md
  packages/analyze/pyproject.toml
  packages/core/README.md
  packages/core/pyproject.toml
  packages/debugger/README.md
  packages/debugger/pyproject.toml
  packages/jsonrpc2/README.md
  packages/jsonrpc2/pyproject.toml
  packages/language_server/README.md
  packages/language_server/pyproject.toml
  packages/modifiers/README.md
  packages/modifiers/pyproject.toml
  packages/plugin/README.md
  packages/plugin/pyproject.toml
  packages/robot/README.md
  packages/robot/pyproject.toml
  packages/runner/README.md
  packages/runner/pyproject.toml
  pyproject.toml
  scripts/create_robot_toml_json_schema.py
  tests/robotcode/core/test_dataclasses.py
Due: lint_package_update, python_style, python_typing

chore: update funding
  .github/FUNDING.yml
Due: none

chore: remove unused funding links
  .github/FUNDING.yml
Due: none

feat: we have a new icon
  images/svg/RobotCodeDev_light.png
  images/svg/RobotCodeDev_light.svg
  images/svg/RobotCode_light.png
  images/svg/RobotCode_light.svg
Due: none

chore(release): bump version 0.79.0 → 0.80.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/analyze/pyproject.toml
  packages/analyze/src/robotcode/analyze/__version__.py
  packages/core/src/robotcode/core/__version__.py
  packages/debugger/pyproject.toml
  packages/debugger/src/robotcode/debugger/__version__.py
  packages/jsonrpc2/pyproject.toml
  packages/jsonrpc2/src/robotcode/jsonrpc2/__version__.py
  packages/language_server/pyproject.toml
  packages/language_server/src/robotcode/language_server/__version__.py
  packages/modifiers/src/robotcode/modifiers/__version__.py
  packages/plugin/src/robotcode/plugin/__version__.py
  packages/robot/pyproject.toml
  packages/robot/src/robotcode/robot/__version__.py
  packages/runner/pyproject.toml
  packages/runner/src/robotcode/runner/__version__.py
  pyproject.toml
  src/robotcode/cli/__version__.py
Due: lint_package_update, python_style, python_typing

chore(build): update sponsor and funding informations
  package.json
  packages/analyze/pyproject.toml
  packages/core/pyproject.toml
  packages/debugger/pyproject.toml
  packages/jsonrpc2/pyproject.toml
  packages/language_server/pyproject.toml
  packages/modifiers/pyproject.toml
  packages/plugin/pyproject.toml
  packages/robot/pyproject.toml
  packages/runner/pyproject.toml
  pyproject.toml
Due: none

Path conditions:
  lint_package_update: any of: \.py$
  python_style: any of: \.py$
  python_typing: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$
